<!DOCTYPE html>
<html>
<head>
    <title>وبلاگ چت بوک</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="bootstrap/jquery.js"></script>
    <link rel="stylesheet" href="plugin/bootstrap.min.css">
    <script src="plugin/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style/blog.css"/>
    <link rel="stylesheet" href="style/topbar.css"/>
</head>
<body>
<div class="container-fliud">
    <%- include('./topbar') %></div>
<div class="container">
    <div class="row" style="padding-top: 100px;">
        <div class="col-sm-9">
                <div class="post-title">
                    <h2>آیین نامه استفاده از چت بوک</h2>
                </div>
                <div class="post-summary">
                     ر این مطلب تمامی قوانین و رفتار های مورد انتظار از شما را آورده ایم.
                    لطفا ان ها را با دقت بخوانید و در رعایت کردن آن ها نهایت تلاش خود را بکنید .
                </div>
        </div>
        <div class="col-sm-3" style="text-align: center">
            <img src="chatbook.PNG" class="post-img"/>
        </div>
        <a href="#"><div class="post-bottom">ادامه مطلب</div></a>
        <div class="col-sm-12 colorful-line"></div>
    </div>
</div>
</body>
</html>