<!DOCTYPE html>
<html>
    <head>
        <title>چت بوک - سریعترین چت روم فارسی</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="bootstrap/jquery.js"></script>
        <link rel="stylesheet" href="plugin/bootstrap.min.css">
        <script src="plugin/bootstrap.min.js"></script>
        <link rel="stylesheet" href="style/home.css">
    </head>

    <body>
        <div class="container-fluid">
            <%- include('./topbar') %>
            <div class="row top-title">
                <div class="title">
                    <h1>چت بوک<br><span>سریعترین چت روم فارسی</span></h1><br>
                    <ul>
                        <li>.::. چت کنید </li>
                        <li>.::. دوست جدید پیدا کنید</li>
                        <li>.::. عقاید خود را بیان کنید</li>
                        <li> .::. و لذت ببرید . . .</li>
                    </ul>
                    <a href="#" class="but">ثبت نام</a>
                </div>
            </div>
        </div>
        <div class="middle">
            <div class="container">
                <div class="row item-container">
                    <div class="col-sm-4">
                        <div class="item-container">
                            <img src="home/responsive.png"/>
                            <h2>چت روم طراحی شده برای تمامی دستگاه</h2><br>
                            <span>
                            با کامپیوتر ، تبلت و موبایل به چت بوک بیاید و
                            بدون دردسر چت کنید!!<br>
                        </span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="item-container">
                            <img src="home/communication.png"/>
                            <h2>بزار چت بوک برات دوست پیدا کنه!</h2><br>
                            <span>
                            این امکان برای شما فراهم شده با زدن یک دکمه
                                نزدیک ترین شخص از لحاظ روحیات ، سن و ... با شما
                                هم صحبت بشه!!
                        </span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="item-container">
                            <img src="home/group.png"/>
                            <h2>گروه های چت رومی داشته باشید</h2><br>
                            <span>
                                گروه مناسب خودتون رو پیدا کنید، عضو بشید
                                و شروع به کار کنید.<br>
                                یا اینکه خودتون گروه بزنید و ادمینش بشید!!
                        </span>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                        <div class="item-container">
                            <img src="home/group.png"/>
                            <h2>گروه های چت رومی داشته باشید</h2><br>
                            <span>
                                گروه مناسب خودتون رو پیدا کنید، عضو بشید
                                و شروع به کار کنید.<br>
                                یا اینکه خودتون گروه بزنید و ادمینش بشید!!
                        </span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="item-container">
                            <img src="home/tools.png"/>
                            <h2>چت روم خودوتونو شخصی سازی کنید</h2><br>
                            <span>
                                بعد از اینکه شروع کردید اول یه دستی روی
                                چت روم بکشید تا مورد علاقه تون بشه!
                        </span>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="row signbox">
                    <div class="col-sm-5 guestsignup">
                        30 دقیقه مهمان ما باشید
                    </div>
                    <div class="col-sm-2 or">یا</div>
                    <div class="col-sm-5 signup">
                        ثبت نام کنید
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>